{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
<a class="my-5 text-dark" href="{{ path('app_login')}}" ><i class="bi bi-caret-left-fill" style="font-size: 3rem;"></i></a>

<h1 class="text-center my-5">Mot de passe oublié</h1>
<div class="col-6 my-4 mx-auto">
{{ form_start(form)}}
{{ form_end(form)}}
</div>
{% endblock %}