{% extends 'base.html.twig' %}

{% block title %}Admin | Commandes{% endblock %}

{% block body %}
<a class="my-5 text-dark" href="{{ path('show_dashboard')}}" ><i class="bi bi-caret-left-fill" style="font-size: 3rem;"></i></a>

<div class="col-8 mx-auto">
  {{ form_start(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}