<footer class="d-flex align-items-center justify-content-around">
    <div class="d-flex justify-content-between">
        <span>Philisavailable 2024</span>
        <div class="d-flex flex-row">
            <a href="{{ path('show_mentions') }}" class="text-dark fw-bold text-uppercase mx-3">Mentions légales</a>
            <a href="{{ path('show_map') }}" class="text-dark fw-bold text-uppercase mx-3">Plan du site</a>
            <a href="{{ path('show_contact') }}" class="text-dark fw-bold text-uppercase mx-3">Contact</a>
        </div>
    </div>
</footer>