*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: revert;
}

header, footer {
    background-color: #BDE3FF;
    min-height: 90px;
}

a {
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
 ul>li{
    list-style: none;
 }

.logo {
    width: 50px; 
    height: auto;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;

}
body {
    display: flex;
    flex-direction: column;
    background: #FFFDF0;
}
button{
    width: fit-content;
}

.avatar{
    width: 40px;  
    height: 40px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    color: white;
    font-weight: bold;
    text-transform: uppercase; 
    background-color: #1f8c52; 
}

.banner{
    max-height: 150px;
}

.services-homes{
    max-height: 400px;
}

.custom-footer-class {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.search-div{
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
}
.search-child{
    width: 100%;
}
button.search-child{
    width: 150px !important;
}
.titre-slogan{
    width: 30%;
}

.suppr-button{
    font-size: .7rem;
    width: fit-content;
}
@media only screen  and (max-width:768px){
    body{
        font-size: .9rem;
    }
    footer{
        font-size: .6rem;
    }
    .custom-footer-class {
        width: auto; 
        margin-left: .5rem; 
        margin-right: .5rem; 
    }

    .search-div{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search-child{
        margin: 5px 0;
    }
    .titre-slogan{
        width: 100%;
    }
}