<h1>Votre commande est prête !</h1>
<p>{{ user.firstName }},</p>
<p>Vous pouvez dès à présent venir chercher votre linge propre et plié !</p>
<p>N'oubliez pas votre pièce d'identité pour pouvoir récupérer vos affaires.</p>
<p>A tout de suite !</p>