{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<section class="my-5"> 
    <div class="text-center"> 
        <h1>Mentions Légales</h1> 
    </div> 
    <div class="text-center"> 
        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site PhilsLaundry l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <h2 class="mt-4">Édition du site</h2>
        <p><strong>Le présent site</strong>, accessible à l’URL <a href="http://www.philslaundry.fr" target="_blank" rel="noopener">www.philslaundry.fr</a> (le « Site »), est édité par :</p>
        <p><strong>Nom :</strong> Philippe BERTOLA</p>
        <p><strong>Adresse :</strong> ISSY LES MOULINEAUX, France</p>
        <p><strong>Date de naissance :</strong> 21/11/1994</p>
        <p><strong>Numéro individuel TVA :</strong> FR 12 123456789</p>
    
        <h2 class="mt-4">Hébergement</h2>
        <p><strong>Le Site est hébergé par :</strong> O2Switch</p>
        <p><strong>Adresse de l'hébergeur :</strong> 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand</p>
        <p><strong>Téléphone de l'hébergeur :</strong> (+33) 4 44 44 60 40</p>
    
        <h2 class="mt-4">Directeur de publication</h2>
        <p><strong>Le Directeur de la publication du Site :</strong> Philippe BERTOLA</p>
    
        <h2 class="mt-4">Nous contacter</h2>
        <p><strong>Par téléphone :</strong> +33 1 23 45 67 89</p>
        <p><strong>Par email :</strong> <a href="mailto:mon.mail@a.a">mon.mail@a.a</a></p>
        <p><strong>Par courrier :</strong> ISSY LES MOULINEAUX, France</p>
    
        <h2 class="mt-4">Données personnelles</h2>
        <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section <a href="/charte-protection-donnees-personnelles" target="_blank" rel="noopener">"Charte de Protection des Données Personnelles"</a>, conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 (« RGPD »).</p>
    
        <h2 class="mt-4">Génération des mentions légales</h2>
        <p>Les mentions légales ont été générées par <a href="https://www.legalstart.fr" target="_blank" rel="noopener">Legalstart</a>.</p>
    </div>
    </section>
{% endblock %}