{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<section class="my-5">
    <div class="text-center">
        <h1>Mentions Légales</h1>
    </div>
    <div class="text-center">
        <p><strong>Nom de l'entreprise :</strong> PhilsLaundry</p>
        <p><strong>Forme juridique :</strong> SARL</p>
        <p><strong>Adresse du siège social :</strong> 1 rue de la rue, 92130 PETAOUCHNOQUE-LES-DEUX-ÉGLISES</p>
        <p><strong>Capital social :</strong> 1 000 €</p>
        <p><strong>RCS :</strong> 123456789</p>
        <p><strong>Numéro de TVA intracommunautaire :</strong> 0987654321</p>
        <p><strong>Directeur de la publication :</strong> Philippe B.</p>
        <p><strong>Contact :</strong> mon.mail@a.a</p>

        <h2 class="mt-4">Hébergement</h2>
        <p><strong>Hébergeur :</strong> machproduguidon</p>
        <p><strong>Adresse de l'hébergeur :</strong> 3 avenue de la pierre qui roule, 53160 CHAMPMAZOUTE-EN-HERBE</p>
        <p><strong>Téléphone de l'hébergeur :</strong> 01 23 45 67 89</p>

        <h2 class="mt-4">Collecte des données personnelles</h2>
        <p>Nous collectons votre nom, prénom, et adresse email pour :</p>
        <ul class="list-unstyled">
            <li>- Vous permettre de créer un compte et d'accéder à nos services.</li>
            <li>- Gérer votre relation avec notre service de laverie.</li>
        </ul>
        <p><strong>Responsable du traitement :</strong> PhilsLaundry</p>
        <p><strong>Finalité du traitement :</strong> Les informations sont utilisées exclusivement dans le cadre de la gestion de notre relation client.</p>
        <p><strong>Durée de conservation :</strong> Vos données sont conservées pendant [durée] après la fin de la relation contractuelle.</p>

        <h2 class="mt-4">Droits de l'utilisateur</h2>
        <p>Conformément au RGPD, vous disposez des droits suivants :</p>
        <ul class="list-unstyled">
            <li>- Droit d'accès, de rectification et d'effacement de vos données.</li>
            <li>- Droit à la limitation du traitement de vos données.</li>
            <li>- Droit d'opposition au traitement de vos données.</li>
            <li>- Droit à la portabilité de vos données.</li>
        </ul>
        <p>Pour exercer ces droits, contactez-nous à : mon.mail@a.a</p>
        
        <h2 class="mt-4">Cookies</h2>
        <p>Notre site utilise uniquement des cookies de session. Ces cookies sont temporaires et sont supprimés dès que vous fermez votre navigateur. Ils sont essentiels au bon fonctionnement de notre site, par exemple pour maintenir votre session active pendant votre navigation. Étant donné qu'ils sont nécessaires pour vous fournir le service demandé, ces cookies ne nécessitent pas votre consentement préalable selon la législation en vigueur.</p>


        <h2 class="mt-4">Propriété intellectuelle</h2>
        <p>Tous les éléments du site sont la propriété exclusive de PhilsLaundry ou de ses partenaires.</p>

        <h2 class="mt-4">Responsabilité</h2>
        <p>PhilsLaundry ne peut garantir l'exactitude, la complétude ou l'actualité des informations fournies sur le site.</p>

        <h2 class="mt-4">Droit applicable</h2>
        <p>Les présentes mentions légales sont régies par le droit français. Tout litige sera soumis à la compétence des tribunaux français.</p>
    </div>
</section>
{% endblock %}