{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<div class="col-6 h-100 mx-auto d-flex flex-column justify-content-center align-items-center">
    <h1>Une erreur est survenue</h1>
    <p>Pour retourner sur la page d'acceuil cliquez <a href="{{ path('show_home') }}">ici</a>.</p>
</div>
{% endblock %}